{% extends "core/base.html" %}




{% block head_title %}
    College Trade
{% endblock %}
{% block content %}
  <main>
    <div class="container">
      <div class='container'><p><strong>Select a category</strong></p></div>
      <br>
      <br>
      <div class="row">


        {% for category in categories %}
        <ul>

          <a href="{{ category.get_absolute_url }}">
              <div class="col">
                  <li>
                    {{ category.text }}
                  </li>
            </div>
          </a>

        </ul>


        {% endfor %}
    </div>

    </div>
  </main>

{% endblock content %}
