{% extends "core/base.html" %}




{% block head_title %}
    College Trade
{% endblock %}
{% block content %}
  <main>
    <div class="container">
      <div class='container'><p><strong>Select a category</strong></p></div>
      <br>
      <br>
        {% for category in categories %}
        <ul>
          <li><a href="{{ category.get_absolute_url }}">
            <div class="row wow fadeIn">
              <div class="col-lg-3 col-md-10 mb-4">
                <div class="card">
                    {{ category.text }}
                </div>
              </div>
            </div>
            </a>
          </li>
        </ul>

        {% endfor %}

    </div>
  </main>

{% endblock content %}
