{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>Merchant contact Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand waves-effect" href="{% url 'core:home' %}">
        <strong class="blue-text">College Trade</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class ="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"> merchant <span class="sr-only">(current)</span></a>
          </li>
          <br>
          <br>

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Log out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:profile' %}">My Profile</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">Signup</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </nav>
    <section class="intro-section">
  		<div class="container">

  			<div class="heading-wrapper">
  				<div class="row">
  					<div class="col-sm-6 col-md-6 col-lg-4">
  						<div class="info">
                <i class="fa fa-home" aria-hidden="true"></i>
  							<div class="right-area">
  								<h5>Ekpoma</h5>
  								<h5>Edo state</h5>
  							</div><!-- right-area -->
  						</div><!-- info -->
  					</div><!-- col-sm-4 -->

  					<div class="col-sm-6 col-md-6 col-lg-4">
  						<div class="info">
                <i class="fa fa-phone" aria-hidden="true"></i>
  							<div class="right-area">
  								<h5>{{ item.owner.profile.phone_no }}</h5>
  								<h6>MON - SAT, 8AM - 8PM</h6>
  							</div><!-- right-area -->
  						</div><!-- info -->
  					</div><!-- col-sm-4 -->

  					<div class="col-sm-6 col-md-6 col-lg-4">
  						<div class="info">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
  							<div class="right-area">
  								<h5>contact me via whatsApp</h5>
  								<h6>REPLY IN 24 HOURS</h6>
  							</div><!-- right-area -->
  						</div><!-- info -->
  					</div><!-- col-sm-4 -->
  				</div><!-- row -->
  			</div><!-- heading-wrapper -->



  			<div class="intro">
  				<div class="row">
        {% if item.owner.profile.profile_picture %}
  					<div class="col-sm-8 col-md-4 col-lg-3">
  						<div class="profile-img margin-b-30"><img src="{{ item.owner.profile.profile_picture.url }}" alt=""></div>
  					</div><!-- col-sm-8 -->
        {% else %}
        <div class="col-sm-8 col-md-4 col-lg-3">
          <div class="profile-img margin-b-30"><img src="/media/profile/images.png" alt=""></div>
        </div>
        {% endif %}

  					<div class="col-sm-10 col-md-5 col-lg-6">
  							<h2><b>{{ item.owner.first_name }} {{ item.owner.last_name }}</b></h2>
  							<h4 class="font-yellow">Key Account Manager</h4>
  							<ul class="information margin-tb-30">
  								<li><b class="font-yellow">DEPARTMENT</b> : {{ item.owner.profile.department }}</li>
                  <li><b class="font-yellow">LEVEL</b> : {{ item.owner.profile.level }}</li>
  								<li><b class="font-yellow">EMAIL</b> : {{ item.owner.profile.email }}</li>
  								<li><b class="font-yellow">PHONE NUMBER</b> : {{ item.owner.profile.phone_no }}</li>
  								<li><b class="font-yellow">whatsApp NUMBER</b> : {{ item.owner.profile.whatsapp_no }}</li>
  							</ul>
  							<ul class="social-icons">
                  <li><a href="{{ item.owner.profile.facebook_link }}" target="_blank"><i class="fab fa-facebook-f mr-3"></i></a></li>
                  <li><a href="{{ item.owner.profile.twitter_link }}" target="_blank"><i class="fab fa-twitter mr-3"></i></a></li>
                  <li><a href="{{ item.owner.profile.intagram_link }}" target="_blank"><i class="fab fa-instagram mr-3"></i></a></li>
  							</ul>
  					</div><!-- col-sm-8 -->


  				</div><!-- row -->

  			</div><!-- intro -->
  		</div><!-- container -->
  	</section><!-- intro-section -->


  	<section class="about-section section">
  		<div class="container">
  			<div class="row">
  				<div class="col-sm-12 col-md-3">
  					<div class="heading">
  						<h3><b>About me</b></h3>
  					</div>
  				</div><!-- col-sm-3 -->
  				<div class="col-sm-12 col-md-9">
  					<p class="margin-b-50">
              {{ item.owner.profile.bio }}
            </p>


  				</div><!-- col-sm-9 -->
  			</div><!-- row -->
  		</div><!-- container -->
  	</section><!-- about-section -->


    {% include "core/scripts.html" %}

  </body>
  <footer>
  <p class="copyright">
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Chancity
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  </p>
</footer>
</html>
